.noHover{
    pointer-events: none;
}

body {
    background: #444;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-height: 1000px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 20em;
}

.text-item {
    width: 100%;
    min-height: 45%;
    margin-bottom: 10px;
    background-color: #dfdfdf;
    line-height: 2em;
}

.raw-text {
    padding: 12px 20px;
}

.translate-stage {
    display: flex;
}

input[name=translate-input] {
    width: 85%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-color: #dfdfdf;
}

.lang-options {
    width: 15%;
    height: stretch;
    border-color: #dfdfdf;
}

.translated-text {
    padding: 0px 20px;
    line-height: 1.5em;
}

.translated-text li {
    padding: 0px 20px;
    list-style-position: inside;
    word-wrap: break-word;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    width: 30%;
}

.media-space {
    padding-left: 10px;
}